@model IEnumerable<WeddingInvites.Models.Invite>

@{
    ViewBag.Title = "Index";
}

<h2>Invitees</h2>

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Create New", "Create")
    </div>
</div>

@using (Html.BeginForm("Index", "Invites", FormMethod.Get, new {@class = "form-inline"}))
{
    <div class="form-group">
        <label class="sr-only" for="party">Party</label>
        @Html.DropDownList("party", (SelectList)ViewBag.party, "All", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="sr-only" for="SearchString">Name</label>
        @Html.TextBox("SearchString", Request["SearchString"], new { @class = "form-control", placeholder = "Name" })
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Filter</button>
}
<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Party)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invitees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InviteSent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendingCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <address>
                    @Html.DisplayFor(modelItem => item.Address)<br>
                    @Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.State) @Html.DisplayFor(modelItem => item.Zip)<br>
                </address>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Party)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invitees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InviteSent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendingCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                <!--@Html.ActionLink("Details", "Details", new { id=item.ID }) |-->
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    </tbody>
}

</table>

<span>Physical Invite Count: <strong>@Html.ViewBag.inviteCount</strong> | People Invited: <strong>@Html.ViewBag.headCount</strong> | @Html.ActionLink("Export to CSV", "ExportToCSV")</span>
